In [53]:
import pandas as pd
import matplotlib.pyplot as plt

df_path = 'archive/Aggregated_Metrics_By_Country_And_Subscriber_Status.csv'
df = pd.read_csv(df_path)

In [54]:
df.head()

,Video Title,External Video ID,Video Length,Thumbnail link,Country Code,Is Subscribed,Views,Video Likes Added,Video Dislikes Added,Video Likes Removed,User Subscriptions Added,User Subscriptions Removed,Average View Percentage,Average Watch Time,User Comments Added
0,ðŸŒ¶ Hot Topics in Tech: Data Science Explained #...,OtqQYqRNDGI,59,https://i.ytimg.com/vi/OtqQYqRNDGI/hqdefault.jpg,HK,True,23,1,0,0,2,0,0.671870,39.640348,0
1,ðŸŒ¶ Hot Topics in Tech: Data Science Explained #...,OtqQYqRNDGI,59,https://i.ytimg.com/vi/OtqQYqRNDGI/hqdefault.jpg,ME,True,3,0,0,0,0,0,0.498870,29.433333,0
2,ðŸŒ¶ Hot Topics in Tech: Data Science Explained #...,OtqQYqRNDGI,59,https://i.ytimg.com/vi/OtqQYqRNDGI/hqdefault.jpg,RW,True,2,0,0,0,0,0,0.681780,40.225000,0
3,ðŸŒ¶ Hot Topics in Tech: Data Science Explained #...,OtqQYqRNDGI,59,https://i.ytimg.com/vi/OtqQYqRNDGI/hqdefault.jpg,US,True,979,81,6,8,16,4,0.694854,40.996389,0
4,ðŸŒ¶ Hot Topics in Tech: Data Science Explained #...,OtqQYqRNDGI,59,https://i.ytimg.com/vi/OtqQYqRNDGI/hqdefault.jpg,DE,False,75,3,0,1,0,0,0.661515,39.029373,0

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55292 entries, 0 to 55291
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Video Title                 55292 non-null  object
 1   External Video ID           55292 non-null  object
 2   Video Length                55292 non-null  int64
 3   Thumbnail link              55292 non-null  object
 4   Country Code                54906 non-null  object
 5   Is Subscribed               55292 non-null  bool
 6   Views                       55292 non-null  int64
 7   Video Likes Added           55292 non-null  int64
 8   Video Dislikes Added        55292 non-null  int64
 9   Video Likes Removed         55292 non-null  int64
 10  User Subscriptions Added    55292 non-null  int64
 11  User Subscriptions Removed  55292 non-null  int64
 12  Average View Percentage     53854 non-null  float64
 13  Average Watch Time          53854 non-null  float64
 14  User Comments Added         55292 non-null  int64
dtypes: bool(1), float64(2), int64(8), object(4)
memory usage: 6.0+ MB

In [56]:
df.describe()

,Video Length,Views,Video Likes Added,Video Dislikes Added,Video Likes Removed,User Subscriptions Added,User Subscriptions Removed,Average View Percentage,Average Watch Time,User Comments Added
count,55292.000000,55292.000000,55292.000000,55292.000000,55292.000000,55292.000000,55292.000000,53854.000000,53854.000000,55292.0
mean,896.678073,100.573157,4.239311,0.106055,0.175577,2.365279,0.053389,0.347821,205.297156,0.0
std,927.380801,1704.966002,65.291451,2.507351,3.601171,65.889539,0.766945,0.259734,206.542106,0.0
min,47.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
25%,375.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.145948,85.442891,0.0
50%,545.000000,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.320983,170.139725,0.0
75%,934.000000,27.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.486153,259.449958,0.0
max,5029.000000,285593.000000,9165.000000,399.000000,436.000000,9599.000000,103.000000,4.967797,5027.660000,0.0

In [57]:
# Look at null values

df[df.isnull().any(axis=1)]

,Video Title,External Video ID,Video Length,Thumbnail link,Country Code,Is Subscribed,Views,Video Likes Added,Video Dislikes Added,Video Likes Removed,User Subscriptions Added,User Subscriptions Removed,Average View Percentage,Average Watch Time,User Comments Added
103,ðŸŒ¶ Hot Topics in Tech: Data Science Explained #...,OtqQYqRNDGI,59,https://i.ytimg.com/vi/OtqQYqRNDGI/hqdefault.jpg,NaN,True,1,0,0,0,0,0,0.071864,4.24,0
183,ðŸŒ¶ Hot Topics in Tech: Data Science Explained #...,OtqQYqRNDGI,59,https://i.ytimg.com/vi/OtqQYqRNDGI/hqdefault.jpg,PR,False,0,0,0,0,0,0,NaN,NaN,0
193,ðŸŒ¶ Hot Topics in Tech: Data Science Explained #...,OtqQYqRNDGI,59,https://i.ytimg.com/vi/OtqQYqRNDGI/hqdefault.jpg,NaN,False,0,0,0,0,0,0,NaN,NaN,0
211,ðŸŒ¶ Hot Topics in Tech: Data Science Explained #...,OtqQYqRNDGI,59,https://i.ytimg.com/vi/OtqQYqRNDGI/hqdefault.jpg,EE,False,0,0,0,0,0,0,NaN,NaN,0
264,git for Data Science Made Simple... (Hopefully),_0rHU6qAQe0,392,https://i.ytimg.com/vi/_0rHU6qAQe0/hqdefault.jpg,ME,False,0,0,0,0,0,0,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55150,#66DaysOfData - 3 Reasons to Start!,sICJ6a2wX5g,53,https://i.ytimg.com/vi/sICJ6a2wX5g/hqdefault.jpg,NO,False,0,0,0,0,0,0,NaN,NaN,0
55178,#66DaysOfData - 3 Reasons to Start!,sICJ6a2wX5g,53,https://i.ytimg.com/vi/sICJ6a2wX5g/hqdefault.jpg,KG,False,0,0,0,0,0,0,NaN,NaN,0
55212,#66DaysOfData - 3 Reasons to Start!,sICJ6a2wX5g,53,https://i.ytimg.com/vi/sICJ6a2wX5g/hqdefault.jpg,BE,False,0,0,0,0,0,0,NaN,NaN,0
55235,#66DaysOfData - 3 Reasons to Start!,sICJ6a2wX5g,53,https://i.ytimg.com/vi/sICJ6a2wX5g/hqdefault.jpg,NaN,False,0,0,0,0,0,0,NaN,NaN,0
55249,#66DaysOfData - 3 Reasons to Start!,sICJ6a2wX5g,53,https://i.ytimg.com/vi/sICJ6a2wX5g/hqdefault.jpg,HN,False,0,0,0,0,0,0,NaN,NaN,0

In [58]:
# Drop unwated columns. Likes removed is not of interest. User comments are all zero

df_sub = df.drop(['Video Likes Removed', 'User Comments Added'], axis=1)

In [59]:
# Drop unwated rows

#df_sub = df_sub.drop(df_sub[df_sub['Country Code'] == ''].index)

df_sub = df_sub.dropna()

In [60]:
df_sub.describe()

,Video Length,Views,Video Likes Added,Video Dislikes Added,User Subscriptions Added,User Subscriptions Removed,Average View Percentage,Average Watch Time
count,53658.000000,53658.000000,53658.000000,53658.000000,53658.000000,53658.000000,53658.000000,53658.000000
mean,892.650024,103.611596,4.366842,0.109192,2.431809,0.054847,0.347860,205.375187
std,923.172407,1730.640762,66.273947,2.545159,66.884082,0.778382,0.259664,206.636765
min,47.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,375.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.146130,85.600000
50%,545.000000,7.000000,0.000000,0.000000,0.000000,0.000000,0.321021,170.174685
75%,917.000000,29.000000,1.000000,0.000000,0.000000,0.000000,0.486086,259.533009
max,5029.000000,285593.000000,9165.000000,399.000000,9599.000000,103.000000,4.967797,5027.660000

In [61]:
# Find how many unique videos are in the dataset

df_sub['Video Title'].nunique()

223

In [62]:
# Find how many unique countries are in the dataset

df_sub['Country Code'].nunique()

232

In [63]:
# Look at general watch time by video length

In [ ]:
# Compare watch time of subscribers against non subscribers